@page "/HorarioyMateriales"

<head>
    <link rel="stylesheet" href="css/DiandaStyle.css" />
</head>

<div class="contenedor">
    <RadzenText TextStyle="TextStyle.H6" Style="color: #ffffff;">TU ESTILO DE ENSEÑANZA ES:</RadzenText>
    <RadzenText TextStyle="TextStyle.H3" Style="color: #ffb17a;"><strong>VISUAL</strong></RadzenText>
</div>

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 70vh;">

    <div class="text-center mb-4">
        <RadzenImage src="images/profesor.png" Style="width: 300px; height: 300px;" />
        <RadzenText TextStyle="TextStyle.H4" Style="color: #ffffff;">TE RECOMENDAMOS...</RadzenText>
    </div>
    
    <div class="d-grid gap-2 col-6 mx-auto mt-1" >
        <button Style="background-color: #ffb17a; color: #ffffff; font-size: 18px; font-family: 'Roboto'" type="wbutton" @onclick="ShowModalHorario">Registrar Horario</button>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto mt-4">
        <button Style="background-color: #ffb17a; color: #ffffff; font-size: 18px; font-family: 'Roboto'" type="wbutton" @onclick="ShowModalMateriales">Registrar Materiales</button>
    </div>

</div>

                <!-- HORARIOS -->
<!-- Modal de horario-->
<div class="modal" tabindex="-1" @onclick="PreventModalClose" style="display: @modalDisplay">
    <div class="modal-dialog modal-dialog-centered"> <!--custom-modal-->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registre @NomModal</h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="HideModal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 custom-file">
                        @if (NomModal == "horario")
                        {
                            <label for="formFile" class="form-label">Cargue su @NomModal</label>
                            <input class="form-control" type="file" id="formFile">
                        }
                        else if (NomModal == "materiales")
                        {
                            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Cargue su @NomModal</RadzenText>
                            <RadzenTextBox Change=@(args => OnChange(args, "TextBox")) class="w-100" aria-label="Default TextBox" />
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="HideModal">Close</button>
                    <button type="button" Style="background-color: #ffb17a; color: #ffffff;">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Capa de fondo oscuro -->
<div class="modal-backdrop" style="display: @modalDisplay"></div>


@code {
    private string modalDisplay = "none";
    private string modalDisplayMateriales = "none";
    private string NomModal = "";


    string value;

    void OnChange(string value, string name)
    {
        
    }

    
    private void ShowModalHorario()
    {
        NomModal = "horario";
        modalDisplay = "block";
    }
    private void HideModal()
    {
        modalDisplay = "none";
    }

    private void ShowModalMateriales()
    {
        NomModal = "materiales";
        modalDisplay = "block";
    }
    private void HideModalMateriales()
    {
        modalDisplay = "none";
    }

    private void PreventModalClose()
    {
        // No hacemos nada, solo evitamos que el modal se cierre al hacer clic dentro de él
    }
}